.connect4-app {
	top:0;
	left:0;
	border: 8px solid purple;
	background-color:#333388;
	padding:20px;
	h1 {
		color:#5555CC;
	}
	.screen {
		h1 {
			color:#005500;
		}
		h2 {
			color:#550055;
		}
	}
}
