- sites.each do |site|
  %form{:action => dashboard_delete_site_path, :method => "post"}
    %input{:type => "hidden", :name => "url", :value => site.url}
    %fieldset
      %legend
        =h site.url
      %h1
        =h site.title
      %p
        =h site.description
      .toolbar.fieldset.float-right
        %button{:type=>"submit"}
          .button Delete Site