- sites.each do |site|
  %form{:action => dashboard_delete_site_path, :method => "post"}
    %input{:type => "hidden", :name => "url", :value => site.url}
    .field
      %label
        =h site.url
      %label
        =h site.title
      %label
        =h site.description
      .list-item-toolbar
        %button{:type=>"submit"}
          .button Delete Site