.site{:id => "button-delete-content"}
  %form{:action => dashboard_unregister_website_path, :method => "post"}
    %input{:type => "hidden", :name => "oid", :value => site.id}
    %fieldset
      %legend
        =h site.url
      %h1
        =h site.title
      %p
        =h site.description
      .toolbar.fieldset.float-right
        %a{:href => dashboard_website_path(site)}
          .button Configuration
        %button{:class => "delete", :type=>"submit"}
          .button Unregister Site
