- @html_page_title = "dashboard"
.section
  %h2= "Welcome, #{current_member.nickname}"
  %ul
    - @sites.each do |site|
      %li= site.url

.section
  %h2 Registered Sites
  - if @sites.any?
    .registered-sites
      = render :partial => 'registered_sites', :locals => {:sites => @sites}

.section
  %button{:class => "add", :data => {:fragment => "button-add-content"}}
    + Add site
  .r.newline

  #button-add-content{:hidden => true}
    %form{ :action => dashboard_add_site_path, :method => "post"}
      .prompt
        %label www.mysite.com
        %input{:type => "text", :name => "site[url]"}
      .prompt
        %label My Site Title
        %input{:type => "text", :name => "site[title]"}
      .prompt
        %label Brief description about your site
        %textarea{:name => "site[description]", :placeholder => "description"}
      .submit-button.newline
        %input{:type => "submit", :value => "Save", :class => "button"}


:javascript
  jQuery(document).ready(function($) {

    // Addition of new sites
    var $button = $('button.add');
    var $fragment = $('#' + $button.data('fragment'));

    $button.bind('click', function(e) {
      $fragment.toggle();
    });

    var $form = $fragment.find('form');
    $form.bind('submit', function(e) {
      e.preventDefault();

      $.ajax({
        url: $form.attr('action'),
        type: 'POST',
        dataType: 'html',
        data: $form.serialize(),
        complete: function(xhr, textStatus) {
          //called when complete
        },
        success: function(data, textStatus, xhr) {
          //called when successful
        },
        error: function(xhr, textStatus, errorThrown) {
          //called when there is an error
        }
      });

    });

  });
