- @html_page_title = "login"

.section
  = render partial: "member/auth/social_sign_in"

  %hr
  - if not social_presences.empty?
    %div You are already logged in!
    .button= link_to "logout", dashboard_logout_url

.section
  = render partial: "member/auth/social_presence"
