- @html_page_title = "profile"

.section
  %label your email:
  .newline #{current_blogger.email}
  %br
  .newline Use your Share URL to get more referrals:
  .newline.selectable= "https://rylyz.com/play/#{current_blogger.share_key}"

