- @html_page_title = "profile"

.section
  %label your email:
  .newline #{current_blogger.email}
  %br
  .newline Use your Share URL to get more referrals:
  .newline.selectable= "http://www.rylyz.com/play?lrRef=#{current_blogger.share_key}"

