- @html_page_title = "profile"

.section
  %label share_key
  %value #{current_blogger.share_key}
  %br
  %label email
  %value #{current_blogger.email}
  %br
  %label share_clicks
  %value #{current_blogger.share_clicks}
  %br
  %label share_conversions
  %value #{current_blogger.share_conversions}



