- @html_page_title = "sites"

.section
  %div Register the websites where you will include the widget:
  %div enter site url:
  %div enter 1-line site title
  %div enter brief description about the site
  %div add+
  %div add another+

.section
  .registered-sites
    = render :partial => 'registered_sites', :locals => {:sites => @sites}

%hr

%form.add-site{ :action => dashboard_add_site_path, :method => "post"}
  .entry
    %label{:for => "url"} Site Url http://
    %input{:type => "text", :name => "site[url]", :class => "text", :placeholder => "url"}
  .entry
    %label{:for => "title"} Site Title
    %input{:type => "text", :name => "site[title]", :class => "text", :placeholder => "title"}
  .entry
    %label{:for => "description"} Brief description about your site
    %textarea{:name => "site[description]", :placeholder => "description"}
  .submit-button
    %input{:type => "submit", :value => "Add Site", :class => "button"}
