- @html_page_title = "anaytics"

.section
  %h2 Coming Soon!
  Metrics about how well the rylyz wygyt is doing on your site will show here.
.section
  %h3 You will be able to see things like:
  %li How many visitors used the rylyz wygyt on your site
  %li How many players from other sites visited your site
  %li How many times your visitors invited others to your site
  %li How much time and money your visitors spent with the rylyz wygyt
  when your visitors interact with the rylyz wygyt.

.section.invisible
  %h2 Important Metrics to track

  %div Clickthroughs
  %div Traffic to Website
  %div Lead generation/User Opt-In
  %div Page Views
  %div Incremental Sales
  %div Weekly Sales
  %div Monthly Sales
  %div Average Revenue Per Paying User (ARPPU)
  %div Percentage of Paying Users
  %div # Referrals
  %div New Installs
  %div Offer Response Rate
  %div Requests for More Information
  %div Brand Lift or Awareness