- @html_page_title = "anaytics"

.section
  %div Lets simplify this list to:
  %div top 3 metrics (first pass)
  %div top 5 metrics (second pass)
  %div top 7 metrics (final pass)


.section
  %h2 Important Metrics to track

  %div Clickthroughs
  %div Traffic to Website
  %div Lead generation/User Opt-In
  %div Page Views
  %div Incremental Sales
  %div Weekly Sales
  %div Monthly Sales
  %div Average Revenue Per Paying User (ARPPU)
  %div Percentage of Paying Users
  %div # Referrals
  %div New Installs
  %div Offer Response Rate
  %div Requests for More Information
  %div Brand Lift or Awareness