- @html_page_title = "websites"
.section
  = render :partial => 'registered_website_add'

.section
  %h2 Registered Sites
  .registered-sites
    - if @sites.any?
      - @sites.each do |site|
        = render :partial => 'registered_website_item', :locals => {:site => site}
    - else
      %p Add your site above
