- @html_page_title = "wygyt:#{@site.domain}"

.section
  = render :partial => "registered_website", :locals => {:site => @site}

.section
  %h2
    =h @site.title
  %p
    =h @site.description
  %h3
    =h @site.url
