
// try not to set multiple attributes in a mixin?

$btnHeight:    36px;
$btnColor:     #CCCC88;
$btnBGcolor:   #333333;
$btnBorder:    1px solid lighten($btnBGcolor, 30%); 
$btnFont:      normal normal 15px/#{$btnHeight} 'Ubuntu', Helvetica, Arial, sans-serif;
$btnMargin:    0px;
$btnPadding:   0px 8px;
$btnCursor:    pointer;
$btnActiveBorderColor:  lighten($btnBGcolor, 20%);
$btnActiveBGcolor:      lighten($btnBGcolor, 3%);

@mixin btnMixin {
  display:            inline;
  cursor:             $btnCursor;
  font:               $btnFont;
  color:              $btnColor;
  background-color:   $btnBGcolor;
  margin:             $btnMargin;
  padding:            $btnPadding;
  border:             $btnBorder;
  x-border: 1px inset buttonface;
  text-align:         center;
  text-decoration:    none;
}

@mixin btnActiveMixin {
  border-color: $btnActiveBorderColor;
  background-color:   $btnActiveBGcolor;
  text-decoration: none;
}

@mixin btnHoverMixin {
  color:            darken($btnColor, 8%);
  color:            white;
  text-decoration:  none;
}
