%rylyz{:name=>"chat"}

	%app{:name=>"chat", "data-defaults"=>"{title:'Chat'}", :"start-screen" => "input-nickname"}
		%screen{:name=>"input-nickname"}
		%screen{:name=>"lobby"}
		%screen{:name=>"chat-room"}

	%screen{:name=>"input-nickname"}
		%form{:id=>"nickname-form", :class=>"nickname", :target=>"", :action => "", :method => "", :name=>"nickname"}
			%h3 Enter Your Nickname For Chat:
			.field
				%input.text{:type => "text", :name => "nickname"}
			.field
				%a.button.play{:onclick=>"Rylyz.sendForm(this)"} Start
		.button-bar.exit
			.button.quit{:onclick=>"javascript:Rylyz.quitApp();"} Quit

	%screen{:name=>"lobby", "data-defaults"=>"{num_rooms: 0}"} 
		%h2
			Chat Rooms ([[num_rooms]])
		.rooms
			%collection{:name=>"rooms"}	
		%form{:id=>"new-room-form", :target=>"", :action => "", :method => "", :name=>"new-room"}
			.field
				%input.text{:type => "text", :name => "newRoomName"}
				%a.button.like{:onclick=>"Rylyz.sendForm(this)"} New Room
		.button-bar.exit
			.button.quit{:onclick=>"javascript:Rylyz.quitApp();"} Quit
	
	%collection{:name=>"rooms", :item=>"room-item", "data-defaults"=>"[]"}
		%ul
			%collection

	%item{:name=>"room-item"}
		%li{"nav-onClick"=>"chat-room", :select=>"[[id]]" }
			[[name]] (has [[num_visitors]] visitors)

	%screen{:name=>"chat-room", "data-defaults"=>"{name:''}" }
		%h1 Chat Room [[name]]
		.button-bar.exit
			.button.quit{"nav-onClick"=>"lobby"} Back
		.people
			%collection{:name=>"people"}
		.messages
			%collection{:name=>"messages"}
			%form{:id=>"shout", :target=>"here", :action => "", :method => "", :name=>"n"}
				.field
					%input.text{:type => "text", :name => "message"}
					%a.button{:onclick=>"Rylyz.sendForm(this);setTimeout(function(){jQuery('.messages-collection').scrollTop(10000)}, 888);"} chat
		.clear-both &nbsp;
	
	%collection{:name=>"messages", :item=>"message-item", "data-defaults"=>"[]"}
		%ul
			%collection

	%item{:name=>"message-item"}
		%li.next &nbsp;&nbsp;[[message]]

	%collection{:name=>"people", :item=>"person", "data-defaults"=>"[]"}
		%collection

	%item{:name=>"person"}
		.person
			.name.ellipsis [[nickname]]
			.source-url.ellipsis
				! [! var url = hostnameOfURL(source_url) !]
				%a{:onClick=>"window.open('[[source_url]]', 'visitor_source', 'height=600, width=650'); return false;"}
					[[ url ]]

