%rylyz

	%app{:name=>"chat", "data-defaults"=>"{title:'Chat'}", :"start-screen" => "splash"}
		%h1 [[title]]
		%screen{:name=>"splash"}
		%screen{:name=>"nickname"}
		%screen{:name=>"room-list"}
		%screen{:name=>"chat-room"}

	%screen{:name=>"nickname"}
		%h2 Enter Your Nickname:
		%form{:id=>"registration-form", :target=>"", :action => "", :method => "", :name=>"nickname"}
			.field
				%input.text{:type => "text", :name => "nickname"}
				%input{:type => "submit", :value => "Ok", :class => "button"}

	%screen{:name=>"splash", "data-defaults"=>"{message: '', name:''}" }
		%h1{"fire-onClick"=>"{queue:'screen', type:'navigation', nextScreen:'nickname'}"}
			I am a Splash page!
		%h2 
			[[message]]
			%h3
				[[name]]
		%h2{"fire-onClick"=>"{queue:'screen', type:'navigation', nextScreen:'room-list'}"}
			View Rooms

	%screen{:name=>"room-list", "data-defaults"=>"{num_rooms: 0}"} 
		%h2
			Chat Room List ([[num_rooms]])
		%form{:id=>"new-room-form", :target=>"", :action => "", :method => "", :name=>"new-room"}
			.field
				%input.text{:type => "text", :name => "newRoomName"}
				%input{:type => "submit", :value => "New Room", :class => "button"}
		.rooms
			%collection{:name=>"rooms"}	

	%collection{:name=>"rooms", :item=>"room-item", "data-defaults"=>"[{id:1, name:'room1', num_visitors:3}, {id:10, name:'room10', num_visitors:3},{id:100, name:'room100', num_users:3},]"}
		%ul
			%collection

	%item{:name=>"room-item"}
		%li{"fire-onClick"=>"{queue:'screen', type:'navigation', nextScreen:'chat-room', select:'[[id]]'}" }
			[[name]] (has [[num_visitors]] visitors)

	%screen{:name=>"chat-room", "data-defaults"=>"{name:'noname'}" }
		%h2 Chat Room [[name]]
		.people
			%collection{:name=>"people"}
		.messages
			%collection{:name=>"messages"}
		%form{:id=>"shout", :target=>"here", :action => "", :method => "", :name=>"n"}
			%ul
				%li
					%input.text{:type => "text", :name => "message"}
					%input{:type => "submit", :value => "OK", :class => "button"}

	%collection{:name=>"messages", :item=>"message-item", "data-defaults"=>"[{message:'player2b'}, {message:'player33b'}]"}
		%ul
			%collection
		%ol
			%li game object model
			%li connection object model (like clubs and rooms)
			%li approach for apps to send messages to its visitor(s)
			%li way to submit forms to the app controller
			%li update the widget to use the sockets, instead of making ajax calls..

	%item{:name=>"message-item"}
		%li [[message]]


	%collection{:name=>"people", :item=>"person", "data-defaults"=>"[{nickname:'p1', source_url:'http://google.com'}, {nickname:'ppp1', source_url:'http://google.com'}]"}
		%ul
			%collection

	%item{:name=>"person"}
		%li 
			[[nickname]]
			(from
			%a{:onClick=>"window.open('[[source_url]]', 'visitor_source', 'height=200, width=200');", :href=>"#"}
				[[source_url]]
			)


