<style type="text/css">
.social.button {
  position:relative;
  display: inline-block;
  border: 1px solid black;
  width: 180px;
  height: 32px;
  padding: 4px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #EFEFEF;
}
.social.button:hover {
  background-color: #FFFFEE;
}
.social.button img {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
}
.social.button img.meetup {
  width: 41px;
  height: 27px;
}
.social.button label{
  display: block;
  float: left;
  margin: 0px 8px;
  line-height: 32px;
  font-size: 20px;
  cursor: pointer;
}

</style>
</head>

<body>
<h1></h1>

<div onclick="document.location.href='/auth/facebook'" class="social button clear">
  <img src="assets/social/facebook.jpeg"/>
  <label>Facebook</label>
</div>
  
<div onclick="document.location.href='/auth/twitter'" class="social button">
  <img src="assets/social/twitter.jpeg"/>
  <label>Twitter</label>
</div>

<div onclick="document.location.href='/auth/meetup'" class="social button">
  <img class="meetup" src="assets/social/meetup.png"/>
  <label>meetup (ssl?)</label>
</div>

<br/>
<div onclick="document.location.href='/auth/google_oauth2'" class="social button">
  <img src="assets/social/gmail.jpeg"/>
  <label>Gmail</label>
</div>
<div onclick="document.location.href='/auth/yahoo'" class="social button">
  <img src="assets/social/yahoomail.jpeg"/>
  <label>Yahoo Mail</label>
</div>
<div onclick="document.location.href='/auth/windowslive'" class="social button">
  <img src="assets/social/hotmail.jpeg"/>
  <label>Hotmail</label>
</div>

<br/>

<div onclick="document.location.href='/auth/tumblr'" class="social button">
  <img src="assets/social/tumblr.jpeg"/>
  <label>Tumblr</label>
</div>
<div onclick="document.location.href='/auth/google_oauth2'" class="social button">
  <img src="assets/social/blogger.jpeg"/>
  <label>Blogger</label>
</div>

<br/>

<div onclick="document.location.href='/auth/runkeeper'" class="social button">
  <img src="assets/social/runkeeper.jpeg"/>
  <label>RunKeeper</label>
</div>

<div onclick="document.location.href='/auth/linkedin'" class="social button">
  <img src="assets/social/linkedin.jpeg"/>
  <label>LinkedIn</label>
</div>

<div onclick="document.location.href='/auth/netflix'" class="social button">
  <img src="assets/social/netflix.jpeg"/>
  <label>netflix</label>
</div>
