%rylyz
	
	%app{:name=>"connect4", :"start-screen" => "splash"}
		%h1 Connect 4!
		%screen{:name=>"splash"}

	%screen{:name=>"splash"}
		%h2 splash
		.start-new-game{"fire-onClick"=>"{queue:'hi', type:'start-new-game'}"}
			Play a New Game!