%rylyz
	
	%app{:name=>"connect4", :"start-screen" => "input-nickname"}
		%screen{:name=>"input-nickname"}
		%screen{:name=>"lobby"}
		%screen{:name=>"play-game"}

	%screen{:name=>"input-nickname"}
		%h1 Connect 4
		%form{:id=>"nickname-form", :class=>"nickname", :target=>"", :action => "", :method => "", :name=>"nickname"}
			%h3 Enter Your Nickname To Play:
			.field
				%input.text{:type => "text", :name => "nickname"}
				- # %input{:type => "submit", :value => "Ok", :class => "button"}


	%screen{:name=>"lobby"}
		%h2 Lobby
		.create-new-game{"fire-onClick"=>"{queue:'hi', type:'start-new-game'}" }
			Start New Game
		%collection{:name=>"games"}

	%collection{:name=>"games", :item=>"game-item", "data-defaults"=>"[{id:1, player1:'a', player2:'b'},{id:2, player1:'a', player2:'b'}, {id:3, player1:'a', player2:'b'}]"}
		%h3 Games
		%ul
			%collection

	%item{:name=>"game-item"}
		%li{"fire-onClick"=>"{queue:'hi', type:'join_game', select:'[[id]]'}" }
			[[player1]] vs [[player2]] ([[id]])

	%screen{:name=>"play-game"}
		.main-screen
			.player-panel.player1
				%object{:name=>"player1"}
			%object{:name=>"game-board"}
			.player-panel.player2
				%object{:name=>"player2"}

	%object{:name=>"player1", "data-defaults"=>"{player_num:1, name:'kim', is_turn_to_act:true, color:'blue', source_url:'http://www.tumblr.com/mypost/from/yesterday'}"}
		%h2{:class=>"[[color]] ellipsis"}
			[[name]]&nbsp;
		%h5{:class=>"yellow ellipsis"}
			! [! var url = hostnameOfURL(source_url) !]
			%a{:onClick=>"window.open('[[source_url]]', 'visitor_source', 'height=600, width=650');", :href=>"#"}
				[[ url ]]
		%h3{:class=>"[[color]]"}
			Player [[player_num]]
		%h4{:class=>"your-turn turn-[[is_turn_to_act]]"}
			Its Your Turn!
		%div{:class=>"turn-indicator"}
			%div{:class=>"chip [[color]] turn-[[is_turn_to_act]]"}

	%object{:name=>"player2", "data-defaults"=>"{player_num:2, name:'jim', is_turn_to_act:false, color:'red', source_url:'http://www.google.com'}"}
		%h2{:class=>"[[color]] ellipsis"}
			[[name]]&nbsp;
		%h5{:class=>"yellow ellipsis"}
			! [! var url = hostnameOfURL(source_url) !]
			%a{:onClick=>"window.open('[[source_url]]', 'visitor_source', 'height=600, width=650');", :href=>"#"}
				[[ url ]]
		%h3{:class=>"[[color]]"}
			Player [[player_num]]
		%h4{:class=>"your-turn turn-[[is_turn_to_act]]"}
			Its Your Turn!
		%div{:class=>"turn-indicator"}
			%div{:class=>"chip [[color]] turn-[[is_turn_to_act]]"}

	%item{:name=>"chip"}
		%div{:class=>"chip inplay [[color]] c[[col]] r[[row]]"}

	%collection{:name=>"game-pieces", :item=>"chip"}
		%collection

	%object{:name=>"game-board", "data-defaults"=>"{column_count:5, row_count:5}"}
		.board_canvas
			! [! var idx = 0; !]
			! [! _.each(_.range(column_count), function(col) { !]
			.dropspot{"fire-onClick"=>"{ queue:'hi', type:'move', column:[[ idx++ ]] }"}
			! [! }); !]
			.board
				%collection{:name=>"game-pieces"}
				.holes
					! [! var idx = 0; !]
					! [! _.each(_.range(column_count), function(col) { !]
					.column
						! [! _.each(_.range(row_count), function(row) { !]
						.hole{"fire-onMouseOver"=>"{ queue:'mindlinks', type:'move', column:[[ idx ]] }", "fire-onClick"=>"{ queue:'hi', type:'move', column:[[ idx ]] }"}
						! [! }); !]
					! [! idx++; !]
					! [! }); !]
				.board_sheen &nbsp;
