@import 'mixins/mixin-buttons';
@import 'mixins/mixin-transitions';
@import 'mixins/mixin-round-corners';

button, a.button {
  float:left;
  @include btnMixin;
  @include  transitionsFastMixin;
  &:hover {
    @include btnHoverMixin;
    color: white;
  }
  &:active {
    @include btnActiveMixin;
  }
  &:visited {
    @include btnMixin;
  }
  .button {
    background-color: inherit;
    margin:0;
    padding:0;
    border:0;
  }
}

.list-item-toolbar {
  button {
    font-size:12px;
    line-height: 24px;
  }
}


/*
  Button structure is consistent for both link buttons and form submit buttons
  (all buttons will be wrapped by ether a link <a> or a form submit button tag)
  
  button wrapped in a form submit: (works even if js is disabled)
  <button type="submit">
    <div class="button">log In</div>
  </button>

  button wrapped in a link tag:
  <a class="button" href="/signup">
    <div class="button">register</div>
  </a>

*/
