@import 'mixins/mixin-transitions';
@import 'mixins/mixin-round-corners';

// wrap these in .rylyz ? prefix all styles with ry ?

.toolbar, .toolbar.form, .toolbar.fieldset, .toolbar.list, .toolbar.list-item  {
  display:inline-block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
  border: 0;
}

.toolbar.form {
  display:block;
  margin: 18px 0px 0px 0px;
  button, .button  {
    @include  roundCornersMixin;
    font: normal normal 14px/28px "Ubuntu", Helvetica, Arial, sans-serif;
  }
}

.toolbar.fieldset {
  display:block;
  margin: 18px 0px 0px 0px;
  button, .button {
    @include  roundCorners5Mixin;
    font: normal normal 14px/28px "Ubuntu", Helvetica, Arial, sans-serif;
    margin-right:8px;
  }
}

.toolbar.list {
  display:block;
  margin: 0px 0px 0px 0px;
  button, .button  {
    @include  roundCornersMixin;
    font: normal normal 14px/28px "Ubuntu", Helvetica, Arial, sans-serif;
  }
}

.toolbar.list-item {
  margin: 0px 0px 0px 0px;
  button, .button  {
    @include  roundCorners5Mixin;
    font: normal normal 12px/24px "Ubuntu", Helvetica, Arial, sans-serif;
  }
}

