@import 'mixins/mixin-transitions';
@import 'mixins/mixin-round-corners';

.toolbar, .toolbar.form, .toolbar.fieldset, .toolbar.list, .toolbar.list-item  {
  display:inline-block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
  border: 0;
}

.toolbar.form {
  display:block;
  margin: 18px 0px 0px 0px;
  button {
    @include  roundCornersMixin;
  }
}

.toolbar.fieldset {
  display:block;
  margin: 18px 0px 0px 0px;
  button {
    font-size:12px;
    line-height: 24px;
    @include  roundCorners5Mixin;
  }
}

.toolbar.list {
  display:block;
  margin: 0px 0px 0px 0px;
  button {
    @include  roundCornersMixin;
  }
}

.toolbar.list-item {
  margin: 0px 0px 0px 0px;
  button {
    font-size:12px;
    line-height: 24px;
    @include  roundCorners5Mixin;
  }
}

