@import 'mixins/mixin-buttons';
@import 'mixins/mixin-transitions';
@import 'mixins/mixin-round-corners';

.button, button, a button {
  float:left;
  @include btnMixin;
  @include  transitionsFastMixin;
  &:hover {
    @include btnHoverMixin;
    color: white;
  }
  &:active {
    @include btnActiveMixin;
  }
  &:visited {
    @include btnMixin;
  }
}

.button.selected {
  background-color: white;
  color: black;
  cursor:default;
  &:hover {
    background-color: white;
  }
  &:active {
    background-color: white;
  }
  &:visited {
    background-color: white;
  }
}
.button.delete, button.delete, a button.delete {
  border-color: #CC0000;
  background-color: transparent;
  cursor:default;
  &:hover {
    color: #CC0000;
  }
  &:active {
    color: #CC0000;
  }
  &:visited {
    color: #880000;
  }
}


.button.label {
  border-color: transparent;
  background-color: transparent;
  cursor:default;
  padding-right: 4px;
  &:hover {
    background-color: inherit;
  }
  &:active {
    background-color: inherit;
  }
  &:visited {
    background-color: inherit;
  }
}

.button.blank {
  border-color: transparent;
  background-color: transparent;
  cursor:default;
  &:hover {
    background-color: inherit;
  }
  &:active {
    background-color: inherit;
  }
  &:visited {
    background-color: inherit;
  }
}

/*
  Button structure is consistent for both link buttons and form submit buttons
  (all buttons will be wrapped by ether a link <a> or a form submit button tag)
  
  button wrapped in a form submit: (works even if js is disabled)
  <button type="submit">
    log In
  </button>

  button wrapped in a link tag:
  <a href="/signup">
    <button>register</button>
  </a>

*/
