@import 'mixins/mixin-user-select';
@import 'mixins/mixin-transitions';

// wrap these in .rylyz ? prefix all styles with ry ?

all {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  
  @include transitionsOnMixin;
}

ul, ol { margin-left: 8px; }

input[type="text"], textarea {
  @include selectableMixin;
}


a {
  text-decoration: none;
  &:hover, &:active, &:visited { text-decoration: none; }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 { margin-bottom: 30px}
h2 { margin-bottom: 18px}
h3 { margin-bottom: 12px}
