@import "mixins/mixin-transitions.css.scss";
@import "mixins/mixin-round-corners.css.scss";

$labelColor: black;

// wrap these in .rylyz ? prefix all styles with ry ?

form{
  margin:0;
  padding:0;
  border: 0;
  overflow: hidden;
}

form {
  position:relative;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;  
}

input[type="text"], textarea, select {
  border: 1px solid #888888;
  background:none;
  width: 288px;
  padding: 7px;
  line-height: 24px;
  font-size:16px;
  font-family: 'Istok Web', Helvetica, Verdana, sans-serif;

  color:#228822;
  outline:none;
  cursor: pointer;
}


input[type="text"], select {
  height:24px;
}

textarea {
  resize: none;
}


label.micro, input[type="text"].micro, textarea.micro{ width: 28px; }
label.mini, input[type="text"].mini, textarea.mini{ width: 48px; }
label.tiny, input[type="text"].tiny, textarea.tiny{ width: 88px; }
label.small, input[type="text"].small, textarea.small { width: 188px; }
label.short, input[type="text"].short, textarea.short { width: 188px; }
label.medium, input[type="text"].medium, textarea.medium { width: 288px; }
label.long, input[type="text"].long, textarea.long { width: 488px;}
label.superlong, input[type="text"].superlong, textarea.superlong { width: 888px;}
label.full, input[type="text"].full, textarea.full { width: 100%; }

.field, .prompt, .input, .select {
  position: relative;
  clear: both;
  display: block;
  margin: 0px;
  font-size: 16px;
  color: $labelColor;
  background-color:none;
  margin: 30px 0px 0px 0px;
  label {
  }
  input[type="text"], textarea {
    display: block;
    margin: 5px 0px;
  }
}

.prompt {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  padding:  5px 10px;
  margin:   8px 8px 8px 0px;
  font-size:20px;
  color:#228822;
  background-color: none;
  border: 2px solid #228822;
  border: 0;

  cursor: pointer;
  @include roundCorners6Mixin;

  label {
    position: absolute;
    text-align:left;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 0px 10px;
    cursor: pointer;

    color: $labelColor;
    background-color:transparent;

    font-size: 16px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    line-height: 24px;

    @include transitionsFastMixin;

    &:hover {
      color: fade_out($labelColor, .6);
      @include transitionsFastMixin;
    }
  }
}
