@import 'mixins/mixin-user-select';
@import 'mixins/mixin-transitions';
@import 'mixins/mixin-round-corners';

.unselectable {
  @include unselectableMixin;
}
.selectable {
  @include selectableMixin;
}

.center-align { text-align: center; }
.left-align { text-align: left; }
.right-align { text-align: right; }

.auto-center { margin-left:auto; margin-right:auto; }

.left-most  { float: left;  }
.right-most { float: right; }

.clear { clear:both; }
.newline { clear:both; display:block; }

.block, .display-block { display:block; }
.inline { display: inline-block;}

.display-none { display:none; }
.invisible { 
 filter: alpha(opacity=0);
 opacity: 0.0; 
 visibility:hidden; 
}
.transparent-background { background-color:transparent; }

.no-borders { border: 0; }

.dim {
 filter: alpha(opacity=80);
 opacity: 0.80;
}

.fullscreen {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.nowrap { white-space: nowrap; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-left {
  @include roundLeftCornersMixin;
}

.round-right {
  @include roundRightCornersMixin;
}
