#site-menu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #000;
   margin-bottom: 30px;
   overflow:hidden;
   position:relative;
   ul {
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      left:50%;
      text-align:center;
      li {
         display:block;
         float:left;
         list-style:none;
         margin:0;
         padding:0;
         position:relative;
         right:50%;
         a {
            display:block;
            margin:0 0 0 1px;
            padding:3px 10px;
            background:#ddd;
            color:#000;
            text-decoration:none;
            line-height:1.3em;
            &:hover {
               background:#369;
               color:#fff;
            }
            &.active, &.active:hover {
               color:#fff;
               background:#000;
               font-weight:bold;
            }
         }
      }
   }
}
