%rylyz{:name=>"trivia"}

  %app{:name=>"trivia", "data-defaults"=>"{title:'Trivia'}", :"start-screen" => "input-nickname"}
    %screen{:name=>"input-nickname"}
    %screen{:name=>"trivia-room"}

  %screen{:name=>"input-nickname"}
    %h1 Play Trivia
    %form{:id=>"nickname-form", :class=>"nickname", :target=>"", :action => "", :method => "", :name=>"nickname"}
      %h3 Enter Your Nickname To Play:
      .field
        %input.text{:type => "text", :name => "nickname"}
      .field
        %a.button.play{:onclick=>"Rylyz.sendForm(this)"} Start Playing
    .button-bar.exit
      .button.quit{:onclick=>"javascript:Rylyz.quitApp();"} Quit

  %screen{:name=>"trivia-room"}
    #trivia
      %object{:name=>"question"}
      .inner
        #trivia-picks
          %object{:name=>"prompt"}
          %collection{:name=>"options"}
        #trivia-results
          %object{:name=>"status"}
          %object{:name=>"winner"}
          %object{:name=>"placement"}

  %object{:name=>"prompt", "data-defaults" => "{nickname:'player'}"}
    %h2 [[nickname]]! Pick your answer

  %object{:name=>"question", "data-defaults" => "{question:'Waiting...', url:'www.test.com'}"}
    %h1
      [[question]]

  %collection{:name=>"options", :item=>"option-item", "data-defaults"=>"[]"}
    #choices
      %collection

  %item{:name=>"option-item"}
    .choice{"fire-onClick"=>"{queue:'hi', type:'choose', choice:'[[key]]'}"}
      [[option]]

  %object{:name=>"status", "data-defaults" => "{status:'...'}"}
    %h2
      [[status]]

  %object{:name=>"placement", "data-defaults" => "{placement:'-'}"}
    %p
      You got [[placement]] place!

  %object{:name=>"winner", "data-defaults" => "{nickname:'', source_url:''}"}
    %p
      %strong
        Winner
      %br
      [[nickname]]
      %br
      [[source_url]]
