%rylyz{:name=>"trivia"}

  %app{:name=>"trivia", "data-defaults"=>"{title:'Trivia'}", :"start-screen" => "input-nickname"}
    %screen{:name=>"input-nickname"}
    %screen{:name=>"trivia-room"}

  %screen{:name=>"input-nickname"}
    #signin
      %h1 Play Trivia
      %form{:id=>"nickname-form", :class=>"nickname", :target=>"", :action => "", :method => "", :name=>"nickname"}
        %h3 Please enter your nickname:
        .field
          %input.text{:type => "text", :name => "nickname", :placeholder => "i.e. tenderlovemaking"}
        .field
          %a.button.play{:onclick=>"Rylyz.sendForm(this)"} Start Playing

  %screen{:name=>"trivia-room"}
    #trivia
      %object{:name=>"question"}
      .inner
        #trivia-picks
          %object{:name=>"prompt"}
          %collection{:name=>"options"}
        #trivia-results
          %object{:name=>"status"}
          %object{:name=>"winner"}

  %object{:name=>"prompt", "data-defaults" => "{nickname:'player'}"}
    %h2{:style => "color: black;"} [[nickname]], choose an answer

  %object{:name=>"question", "data-defaults" => "{question:'Waiting...', url:'www.test.com'}"}
    %h1
      [[question]]

  %collection{:name=>"options", :item=>"option-item", "data-defaults"=>"[]"}
    #choices
      %collection

  %item{:name=>"option-item"}
    .choice{"fire-onClick"=>"{queue:'hi', type:'choose', choice:'[[key]]'}", :onclick => "$(this).addClass('selected');"}
      [[option]]

  %object{:name=>"status", "data-defaults" => "{status:'...', klass:'hidden'}"}
    %div{:class => '[[klass]]'}
      %h2#status
        [[status]]

  %object{:name=>"winner", "data-defaults" => "{nickname:'', source_url:''}"}
    %p
      %strong.name
        [[nickname]]
      %span.url
        %a{:href => "[[source_url]]", :target => "_blank"}
          [[source_url]]
