%rylyz{:name=>"trivia"}

  %app{:name=>"trivia", "data-defaults"=>"{title:'Trivia'}", :"start-screen" => "trivia-room"}
    %screen{:name=>"input-nickname"}
    %screen{:name=>"trivia-room"}

  %screen{:name=>"input-nickname"}
    %h1 Nick

  %screen{:name=>"trivia-room"}
    #trivia
      %object{:name=>"question"}
      .inner
        #trivia-picks
          %h2 Yo! Pick your answer
          %collection{:name=>"options"}
        #trivia-results
          %object{:name=>"status"}
          %object{:name=>"winner"}
          %object{:name=>"placement"}

  %object{:name=>"question", "data-defaults" => "{question:'Waiting...', url:'www.test.com'}"}
    %h1
      [[question]]

  %collection{:name=>"options", :item=>"option-item", "data-defaults"=>"[]"}
    #choices
      %collection

  %item{:name=>"option-item"}
    .choice{"fire-onClick"=>"{queue:'hi', type:'choose', choice:'[[key]]'}"}
      [[option]]

  %object{:name=>"status", "data-defaults" => "{status:'...'}"}
    %h2
      [[status]]

  %object{:name=>"placement", "data-defaults" => "{placement:'-'}"}
    %p
      You got [[placement]] place!

  %object{:name=>"winner", "data-defaults" => "{nickname:'', source_url:''}"}
    %p
      %strong
        Winner
      %br
      [[nickname]]
      %br
      [[source_url]]
