%rylyz{:name=>"trivia"}

  %app{:name=>"trivia", "data-defaults"=>"{title:'Trivia'}", :"start-screen" => "input-nickname"}
    %screen{:name=>"input-nickname"}
    %screen{:name=>"trivia-room"}

  %screen{:name=>"input-nickname"}
    %h1 Nick

  %screen{:name=>"trivia-room"}
    %h1 Room