%rylyz{:name=>"trivia"}

  %app{:name=>"trivia", "data-defaults"=>"{title:'Trivia'}", :"start-screen" => "trivia-room"}
    %screen{:name=>"input-nickname"}
    %screen{:name=>"trivia-room"}

  %screen{:name=>"input-nickname"}
    %h1 Nick

  %screen{:name=>"trivia-room"}
    %h1 Trivia
    %object{:name=>"question"}
    %object{:name=>"status"}
    %object{:name=>"placement"}
    %object{:name=>"winner"}
    %collection{:name=>"options"}


  %object{:name=>"question", "data-defaults" => "{question:'Waiting...', url:'www.test.com'}"}
    %h2
      [[question]]
    %h3
      [[url]]

  %collection{:name=>"options", :item=>"option-item", "data-defaults"=>"[]"}
    %ul
      %collection

  %item{:name=>"option-item"}
    %li{"fire-onClick"=>"{queue:'hi', type:'choose', choice:'[[key]]'}"}
      [[option]]

  %object{:name=>"status", "data-defaults" => "{status:'...'}"}
    %h3
      [[status]]

  %object{:name=>"placement", "data-defaults" => "{placement:'-'}"}
    %h3
      [[placement]]

  %object{:name=>"winner", "data-defaults" => "{nickname:'', source_url:''}"}
    %h3
      [[nickname]] - [[source_url]]
