%rylyz{:name=>"quiz"}


  %app{:name=>"quiz", "data-defaults"=>"{title:'Quiz'}", :"start-screen" => "game"}
    %screen{:name=>"input-nickname"}
    %screen{:name=>"game"}
    %screen{:name=>"question"}
    %screen{:name=>"leaderboard"}
    %screen{:name=>"submit-question"}


  %screen{:name=>"input-nickname"}
    #signin
      %h1 Play Quiz
      %form{:id=>"nickname-form", :class=>"nickname", :target=>"", :action => "", :method => "", :name=>"nickname"}
        %h3 Please enter your nickname:
        .field
          %input.text{:type => "text", :name => "nickname", :placeholder => "i.e. tenderlovemaking"}
        .field
          %a.button.play{:onclick=>"Rylyz.sendForm(this)"} Start Playing


  %screen{:name=>"game"}
    .game-board
      .level-1
        %collection{:name=>"level1-questions"}
      .level-2
        %collection{:name=>"level2-questions"}
      .level-3
        %collection{:name=>"level3-questions"}
    .button-bar
      .button{"nav-onClick"=>"input-nickname"} Enter Name
      .button{"nav-onClick"=>"question"} Question
      .button{"nav-onClick"=>"leaderboard"} Leaderboard
      .button{"nav-onClick"=>"submit-question"} Submit Question4

  %collection{:name=>"level1-questions", :item=>"question-item", "data-defaultss"=>"[{level:1},{level:2},{level:3},{level:4},{level:5}]"}
    %h2 level1
    .level
      %collection

  %collection{:name=>"level2-questions", :item=>"question-item", "data-defaultss"=>"[{level:1},{level:2},{level:3},{level:4},{level:5}]"}
    %h2 level2
    .level
      %collection

  %collection{:name=>"level3-questions", :item=>"question-item", "data-defaultss"=>"[{level:1},{level:2},{level:3},{level:4},{level:5}]"}
    %h2 level3
    .level
      %collection

  %item{:name=>"question-item"}
    ! [! if (answered) { !]
    .question-card.answered
      %br [[category]] - [[answered]]
    ! [! } else { !]
    .question-card.unanswered{"fire-onClick"=>"{queue:'hi', type:'select-question', select:'[[id]]'}"}
      %br [[category]] - [[answered]]
    ! [! } !]

  %screen{:name=>"question"}
    .about
      About
    .progress-bar
      = "===================="
    .score
      99
    %object{:name=>"prompt"}
    .button-bar.question-menu
      .button.hint
        Hint
      .button.pass
        Pass
    .button-bar.close
      .button{"nav-onClick"=>"game"} Close

  %object{:name=>"prompt", "data-defaults"=>"{id: '', prompt:'', answer1:'', answer2:'', answer3:'', answer4:''}"}
    #trivia
      %h1
        [[prompt]]
      .inner
        #trivia-picks
          %h2{:style => "color: black;"} Choose your answer:
          #choices
            .choice{"fire-onClick"=>"{queue:'hi', type:'choose-answer', choice:'1', id: '[[id]]'}", :onclick => "$(this).addClass('selected'); $('.choice').removeAttr('onclick')"}
              [[answer1]]
            .choice{"fire-onClick"=>"{queue:'hi', type:'choose-answer', choice:'2', id: '[[id]]'}", :onclick => "$(this).addClass('selected'); $('.choice').removeAttr('onclick')"}
              [[answer2]]
            .choice{"fire-onClick"=>"{queue:'hi', type:'choose-answer', choice:'3', id: '[[id]]'}", :onclick => "$(this).addClass('selected'); $('.choice').removeAttr('onclick')"}
              [[answer3]]
            .choice{"fire-onClick"=>"{queue:'hi', type:'choose-answer', choice:'4', id: '[[id]]'}", :onclick => "$(this).addClass('selected'); $('.choice').removeAttr('onclick')"}
              [[answer4]]
        #trivia-results
          %object{:name=>"status"}

  %object{:name=>"status", "data-defaults" => "{status:'...', klass:'hidden'}"}
    %div{:class => '[[klass]]'}
      %h2#status
        [[status]]

  %screen{:name=>"leaderboard"}
    .button-bar
      .button{"nav-onClick"=>"game"} Back


  %screen{:name=>"submit-question"}
    .button-bar
      .button{"nav-onClick"=>"game"} Back

