// Place all the styles related to the Connect4Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$piece-size: 50px;

.connect4-app {
  top: 0;
  left: 0;
  border: 8px solid purple;
  background-color: #333388;
  padding: 20px; }
  .connect4-app h1 {
    color: #5555CC; }
  .connect4-app .screen h1 {
    color: #005500; }
  .connect4-app .screen h2 {
    color: #550055; }


  .player1-spot{
    float:left;
  }
  .player2-spot{
    float:left;
  }
  .game-board-spot{
    float:left;
  }
  
  .button-bar {
    border: 1px solid red;
    padding:8px;
    margin: 12px auto;
    .button {
      float:left;
      min-width: 45px;
      line-height:1.8em;
      padding: 8px;
      border: 1px solid #CCCCCC;
      margin-right: 12px;
    }
  }

  .board {
    position:absolute;
    clear:both;
    top: $piece-size;
    left:0px;
    z-index:2;
  }
  .board_canvas {
    position:absolute;
    float:left;
    z-index:0;
    background-color:#F8F8F8;
  }
  
  .board_sheen { /* overlay the board with a nice sheen */
    position:absolute;
    z-index:5;
    pointer-events:none;  /* not supported on IE or opera. Do not show the board_sheen as an overlay in those browsers */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:image-url('sheen.png');
    background-size: cover;
  }

  .move {
    float:left;
    width:$piece-size;
  }  
  .column {
    float:left;
  }  
  .hole {
    z-index:3;
    width: $piece-size;
    height: $piece-size;
    background-image:image-url('hole.png');
    background-size: cover;
  }
  .dropspot {
    float:left;
    width: $piece-size;
    height: $piece-size;
    background-color:blue;
  }
  .chip {
    position:absolute;
    z-index:-1;
    background-color: transparent;
    width:$piece-size;
    height:$piece-size;
    background-size: cover;
  }

  .red {
    background-image:image-url('red_chip.png');
  }
  .blue {
    background-image:image-url('blue_chip.png');
  }
  .black {
    background-image:image-url('black_chip.png');
  }
  .bg{
    position:fixed;
    left: 0;
    top: 100px;
    height:250px;
    width:250px;
    background-color:blue;
    z-index:1;
  }

  .c0 { left: (0 * $piece-size);}
  .c1 { left: (1 * $piece-size);}
  .c2 { left: (2 * $piece-size);}
  .c3 { left: (3 * $piece-size);}
  .c4 { left: (4 * $piece-size);}
  .c5 { left: (5 * $piece-size);}
  .c6 { left: (6 * $piece-size);}
  .c7 { left: (7 * $piece-size);}
  .c8 { left: (8 * $piece-size);}
  .c9 { left: (9 * $piece-size);}
  .c10 { left: (19 * $piece-size);}

  .r5 { top: (0 * $piece-size);}
  .r4 { top: (1 * $piece-size);}
  .r3 { top: (2 * $piece-size);}
  .r2 { top: (3 * $piece-size);}
  .r1 { top: (4 * $piece-size);}
  .r0 { top: (5 * $piece-size);}
