.connect4-app {
  background-color: #1C1D1B;
  padding: 10px 8px;
  width: 838px;
  min-height: 400px;
  border: 20px solid rgba(8, 8, 8, 0.8);
  border-radius: 18px;
  -o-border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  background-clip: padding-box;
  -o-background-clip: padding;
  -moz-background-clip: padding;
  -webkit-background-clip: padding; }
  .connect4-app h4.your-turn {
    color: yellow; }
  .connect4-app .player-panel h2, .connect4-app .player-panel h3, .connect4-app .player-panel h4, .connect4-app .player-panel h5 {
    margin: 0.7em 0; }
  .connect4-app .play-game-screen, .connect4-app .input-nickname-screen, .connect4-app .lobby-screen {
    width: 100%;
    height: 100%; }
  .connect4-app .connect4-app h1 {
    color: #5555CC; }
  .connect4-app .turn-indicator .chip {
    position: static;
    margin: 0px auto; }
  .connect4-app .turn-true {
    opacity: 1;
    filter: Alpha(opacity=100); }
  .connect4-app .turn-false {
    opacity: 0.18;
    filter: Alpha(opacity=18); }
  .connect4-app .your-turn {
    text-align: center;
    font-weight: bold; }
  .connect4-app .your-turn.turn-false {
    opacity: 0;
    filter: Alpha(opacity=0); }
  .connect4-app .input-nickname-screen {
    color: yellow; }
    .connect4-app .input-nickname-screen form.nickname {
      width: 400px;
      height: 200px;
      margin: 50px auto;
      background-color: #2C2D2B;
      border: 3px solid #101010;
      border-radius: 8px; }
    .connect4-app .input-nickname-screen form .field {
      width: 300px;
      margin: 20px auto; }
      .connect4-app .input-nickname-screen form .field input {
        border: 1px solid white;
        width: 200px;
        margin: 10px 40px;
        padding: 5px;
        font-size: 14px;
        text-shadow: 0px 1px 0px #fff;
        outline: none; }
      .connect4-app .input-nickname-screen form .field input:focus {
        -webkit-box-shadow: 0px 0px 5px yellow;
        -moz-box-shadow: 0px 0px 5px yellow;
        box-shadow: 0px 0px 5px yellow; }
  .connect4-app .main-screen {
    min-width: 800px;
    min-height: 400px;
    background-color: #282828b; }
    .connect4-app .main-screen .player-panel {
      float: left;
      width: 200px;
      height: 200px;
      margin: 100px 18px;
      background-color: #2C2D2B;
      border: 3px solid #101010;
      border-radius: 8px;
      -o-border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px; }
      .connect4-app .main-screen .player-panel h2.blue, .connect4-app .main-screen .player-panel h3.blue, .connect4-app .main-screen .player-panel h4.blue, .connect4-app .main-screen .player-panel h5.blue {
        color: blue; }
      .connect4-app .main-screen .player-panel h2.red, .connect4-app .main-screen .player-panel h3.red, .connect4-app .main-screen .player-panel h4.red, .connect4-app .main-screen .player-panel h5.red {
        color: red; }
      .connect4-app .main-screen .player-panel h2.yellow, .connect4-app .main-screen .player-panel h3.yellow, .connect4-app .main-screen .player-panel h4.yellow, .connect4-app .main-screen .player-panel h5.yellow {
        color: yellow; }
      .connect4-app .main-screen .player-panel a, .connect4-app .main-screen .player-panel a:visited, .connect4-app .main-screen .player-panel a:active {
        color: yellow;
        text-decoration: none; }
      .connect4-app .main-screen .player-panel a:hover {
        color: #FFFFCC; }
    .connect4-app .main-screen .player-panel.player1 {
      clear: left; }
    .connect4-app .main-screen .board_canvas {
      z-index: 0;
      float: left;
      min-width: 350px;
      min-height: 300px;
      background-color: transparent; }
      .connect4-app .main-screen .board_canvas .dropspot {
        float: left;
        width: 50px;
        height: 50px;
        background-color: transparent; }
      .connect4-app .main-screen .board_canvas .board {
        clear: left;
        position: relative;
        z-index: 2;
        min-width: 350px;
        min-height: 300px; }
        .connect4-app .main-screen .board_canvas .board .column {
          float: left;
          background-color: transparent; }
          .connect4-app .main-screen .board_canvas .board .column:hover {
            opacity: 0.88;
            filter: Alpha(opacity=88); }
          .connect4-app .main-screen .board_canvas .board .column .hole {
            z-index: 3;
            width: 50px;
            height: 50px;
            background-image: url("http://arbinds-macbook-air.local/assets/img/hole.png");
            background-size: cover; }
  .connect4-app .board_sheen {
    /* overlay the board with a nice sheen */
    position: absolute;
    z-index: 5;
    pointer-events: none;
    /* not supported on IE or opera. Do not show the board_sheen as an overlay in those browsers */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("http://arbinds-macbook-air.local/assets/img/sheen.png");
    background-size: cover; }
  .connect4-app .move {
    float: left;
    width: 50px; }
  .connect4-app .chip {
    position: absolute;
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-size: cover; }
  .connect4-app .chip.inplay {
    z-index: -1; }
  .connect4-app .chip.red {
    background-image: url("http://arbinds-macbook-air.local/assets/img/red_chip.png"); }
  .connect4-app .chip.blue {
    background-image: url("http://arbinds-macbook-air.local/assets/img/blue_chip.png"); }
  .connect4-app .chip.black {
    background-image: url("http://arbinds-macbook-air.local/assets/img/black_chip.png"); }
  .connect4-app .c0 {
    left: 0px; }
  .connect4-app .c1 {
    left: 50px; }
  .connect4-app .c2 {
    left: 100px; }
  .connect4-app .c3 {
    left: 150px; }
  .connect4-app .c4 {
    left: 200px; }
  .connect4-app .c5 {
    left: 250px; }
  .connect4-app .c6 {
    left: 300px; }
  .connect4-app .c7 {
    left: 350px; }
  .connect4-app .c8 {
    left: 400px; }
  .connect4-app .c9 {
    left: 450px; }
  .connect4-app .c10 {
    left: 950px; }
  .connect4-app .r5 {
    top: 0px; }
  .connect4-app .r4 {
    top: 50px; }
  .connect4-app .r3 {
    top: 100px; }
  .connect4-app .r2 {
    top: 150px; }
  .connect4-app .r1 {
    top: 200px; }
  .connect4-app .r0 {
    top: 250px; }
