@import 'mixins/mixin-round-corners.css.scss';
@import 'mixins/mixin-transitions.css.scss';

#logout a {
   color: red;
   &:hover {
      background:#369;
      color:#fff;
   }
   &.active, &.active:hover {
      color:#fff;
      background:#000;
      font-weight:bold;
   }
}
#site-header {
	position: relative;
	margin: 0px 50px;
  padding: 0;
  height: 78px;
  min-width:900px;
  #site-name {
  	float:left;
		font-size: 36px;
		font-weight: 500;
		line-height: 78px;
		letter-spacing: 0.1em;
	  color: #8CBF40;
	  text-shadow: 1px 1px 1px #47626B;	
  	#site-logo {
			float:left;
			height: 78px;
			width: 50px;
			padding: 0px;
      margin: 0px 8px 0px 0px;
			img {
        margin: 12px 0px;
				length: 50px;
				width: 50px;
			}
  	}
  }

  #site-menu {
  	float:right;
    background-color: transparent;
    overflow:hidden;
    border:1px solid #203038;
    height: 50px;
    margin: 12px 0px;
    @include roundLeftCorners15Mixin;
    ul {
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      left:50%;
      text-align:center;
      li.menu-item {
        display:block;
        float:left;
        list-style:none;
        position:relative;
        right:50%;
        font-size: 16px;
        line-height: 50px;
				font-weight: bold;
        margin:0 0 0 1px;
        padding:0px 12px;
        color:#000;
        a {
          text-decoration:none;
          &:hover {
            color:inherit;
          }
          &.active, &.active:hover {
            color:#fff;
            background:#000;
            font-weight:bold;
          }
        }
      }
      li.menu-item.logout{
        line-height: 24px;
        font-weight: bold;
        margin: 13px 8px 13px 20px;
        background-color: #482838;
        border: 2px solid #382030;
        @include roundCircleMixin;
        &hover {
          background-color: #886878
        }

      }
    }
  }
}
