#site-header {
  position: relative;
  margin: 0px 50px;
  padding: 0;
  height: 78px;
  min-width:900px;
  #site-name {
    float:left;
    font-size: 36px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0.1em;
    color: #8CBF40;
    text-shadow: 1px 1px 1px #47626B;  
    #site-logo {
      float:left;
      height: 78px;
      width: 50px;
      padding: 0px;
      margin: 0px 8px 0px 0px;
      img {
        margin: 12px 0px;
        length: 50px;
        width: 50px;
      }
    }
  }
}
