$font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

$font-family-header: 'Ubuntu', Helvetica, Arial, sans-serif;
$font-familyt-content:'Istok Web', Helvetica, Verdana, sans-serif;
$font-button: 'Ubuntu', Helvetica, Arial, sans-serif;

$color-text: #E0E8EB;
$color-text-shadow: #47626B;
$color-border: #47626B;
$color-background: #283842;
$color-site-name: #8CBF40;
$color-link: #8CBF40;
$color-link-hover: #C8FB40;
$color-link-active: #FBC840;

$color-h1: #447FCF;
$color-h2: #8CBF40;
$color-h3: #E0E8EB;
$color-h4: #E0E8EB;
$color-h5: #E0E8EB;
$color-h6: #E0E8EB;
$color-h7: #E0E8EB;
$color-h8: #E0E8EB;

$site-name-font-size: 35px;
$site-name-font-weight: 500;
$site-name-line-height: 65px;
$site-name-letter-spacing: 0.1em;
$site-name-color: $color-site-name;
$site-name-text-shadow: 1px 1px 1px $color-text-shadow;

$link-text-decoration: none;
$link-hover-text-decoration: underline;
