- @html_page_title = "rylyz"

:css
  #welcome {
    padding-bottom: 150px;
    background: url(/assets/rylyz/olympic-logo.png) center bottom no-repeat;
  }
  #welcome h1 {
    font-size: 32px;
    color: #203036;
    margin-top: 1em;
    margin-bottom: .8em;
    text-align: center;
  }
  #welcome h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 1em;
    text-align: center;
  }
  #welcome p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .section {
    cursor: pointer;
  }

.section{:onclick=>"location.href = '/play'"}
  #welcome
    %h1
      Add social games and cool real-time apps to your site!
    %h2
      Coming soon!
    %p
      %a{:href=>'/play'}
        sign up now as an early adopter
      
