- @html_page_title = "rylyz"

:css
  #welcome {
    padding-bottom: 150px;
    background: url(http://wygyt.rylyz.ws/assets/rylyz/olympic-logo.png) center bottom no-repeat;
  }
  h1 {
    font-size: 60px;
    color: #666;
    margin-bottom: .5em;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 1em;
    text-align: center;
  }
  p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

.section
  #welcome
    %h1
      Welcome
    %h2
      Play games and use cool apps
    %p
      Coming soon!
