- @html_page_title = "privacy policy"

.section
  %h2 Our team is committed to protecting the privacy of your information.
  %p We really value your interest and we always work to maintain a high level of integrity in everything we do.

.section
  %p Effective as of January 1, 2012.
  %h1 This Privacy Statement describes rylyz privacy practices.

  %h3 Your time is valuable so we’ll keep it simple:

  %p We collect your email address and only information that you wish to willingly share with us.
  %br
  %p We will use this information in order to give you updates on progress towards our launch, to let you know when our service is ready to use, and in order to learn how to best provide services to you.
  %br
  %p We would be glad to correspond with you through other social sites if you follow us or like us. These sites include Facebook, Twitter, Google+, Pinterest and others.
  %br
  %p We promise not to transfer your information to 3rd party services that are not directly required for us to perform business.
  %br
  %p You may opt out of future communication at any time by replying to emails that you receive from us, by unfollowing us on other social sites, or directly by sending a message to play at rylyz.com. 
  %br
  %p To delete your data permanently contact us directly by sending a message to: play at rylyz.com.
  %br
  %p This policy may be updated in the future, but our commitment to protecting your privacy will always remain high.
  %br

  %h3
    Thanks,
    %br The rylyz team