= stylesheet_link_tag "website/base/flash", :media => "all"
= stylesheet_link_tag "website/launchrock/signup", :media => "all"

- unless flash.empty?
  = render :partial => 'util/flash_messages'


= image_tag "rylyz/bg-universe.jpg", :class=>'universe'
.lrdiscoverwidget(rel="H15QW1SQ" data-logo="on" data-background="off" data-share-url="www.rylyz.com/play" data-css="")
%script(type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js")
