%rylyz{:name=>"wyjyt"}

	%app{:name=>"wyjyt", :"start-screen" => "space"}
		%screen{:name=>"space"}

	%screen{:name=>"space"}
		%h2
			Select an App to Launch:
		.launch{:onclick=>"Rylyz.Wyjyt.start({appName:'quiz'});"}
			.name xquizyt
		.launch{:onclick=>"Rylyz.Wyjyt.start({appName:'connect4'});"}
			.name Connect 4
		.launch{:onclick=>"Rylyz.Wyjyt.start({appName:'scratch'});"}
			.name Cool Car Pool
		.launch{:onclick=>"Rylyz.Wyjyt.start({appName:'scratch'});"}
			.name Fitness Planner
		.launch{:onclick=>"Rylyz.Wyjyt.start({appName:'chat'});"}
			.name Chat
		.launch{:onclick=>"Rylyz.Wyjyt.start({appName:'TicTacToe'});"}
			.name Tic Tac Toe
